

h1 { color: darkblue;background: bisque ;padding: 15px; border-radius: 50px; font-style: italic}


div {border: 3px solid #4CAF50;padding: 5px;}


.personalinfo {border-radius: 40px; color: red; background: bisque; margin: 60px; padding: 20px}


.titelinfo {border-radius: 10px; margin: 30px; font-style: oblique; background-color: greenyellow; display: inline; padding: 10px}


.hobbies { border-radius: 15px; background-color: greenyellow; display: inline; margin: 40px; padding: 15px; font-style: italic}

.main-container{ max-width:600px; margin:0 auto; border:solid 10px green; position: sticky}

