body {
    width: 1200px;
    margin: auto;
}

.headerimage {
    background-image: url("header.jpg");
    padding: 5px;
    color: white;
    font-size: 30px;
    font-family: Verdana
}

nav {
    background-color: darkslategray
}

nav > a {
    color :deepskyblue;
    text-decoration: none
}

article {
    background-color: lightgray;
    padding: 10px;
    margin: 10px
}

div {
    font-size: 30px;
    text-decoration: underline;
    color: darkslategray
}


